Node-RED nodes
[
    {
        "id": "41f3198c118fc2be",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27c4783662af7adc",
        "type": "ui_switch",
        "z": "41f3198c118fc2be",
        "name": "",
        "label": "Automatische mode",
        "tooltip": "",
        "group": "28e57d1691e8e2a0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "193d5f1c5583b54e"
            ]
        ]
    },
    {
        "id": "adb2a5277d1d27be",
        "type": "ui_switch",
        "z": "41f3198c118fc2be",
        "name": "",
        "label": "Manueel mode",
        "tooltip": "",
        "group": "28e57d1691e8e2a0",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "212bd733f6c53345"
            ]
        ]
    },
    {
        "id": "e8091f27ebc9e825",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "SLINKS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SLINKS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "abf99bdcbd49801b"
            ]
        ]
    },
    {
        "id": "39e93eeff6fe3dc2",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "VOORUIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "VOORUIT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "3194472abd0f29e2"
            ]
        ]
    },
    {
        "id": "7989c4c72d8d4607",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "SRECHTS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SRECHTS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "75a03f4b7a93da33"
            ]
        ]
    },
    {
        "id": "d3412657860d739f",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "LINKS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "LINKS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "ec7190c59f73af59"
            ]
        ]
    },
    {
        "id": "4e7bb941ea0bec9b",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "af28b6e9f1433528"
            ]
        ]
    },
    {
        "id": "e89911a1cf7212b3",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "RECHTS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "RECHTS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "af2af7afa7a2bee0"
            ]
        ]
    },
    {
        "id": "ef3a7f82e7c95c0b",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "SLACHTERUIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SLACHTERUIT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "1fe9e6021dc88db0"
            ]
        ]
    },
    {
        "id": "88f9cfd3ed0132e2",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "ACHTERUIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ACHTERUIT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 640,
        "wires": [
            [
                "9f7ea606d369893e"
            ]
        ]
    },
    {
        "id": "fbd884c263c277da",
        "type": "ui_button",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "bbeeb0609df7edcd",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "SRACHTERIUT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SRACHTERIUT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 700,
        "wires": [
            [
                "6f32204b4e9cc294"
            ]
        ]
    },
    {
        "id": "1108890275bd96b6",
        "type": "ui_gauge",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "8dd9a4854503a5ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ultrasoon sensor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "6214a9d370f9d692",
        "type": "ui_gauge",
        "z": "41f3198c118fc2be",
        "name": "",
        "group": "8dd9a4854503a5ac",
        "order": 14,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "IR-sensor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1280,
        "y": 300,
        "wires": []
    },
    {
        "id": "c688db9facfb6e24",
        "type": "ui_text_input",
        "z": "41f3198c118fc2be",
        "name": "",
        "label": "Text input",
        "tooltip": "",
        "group": "a13bf275b8f6c5b1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "b5d0576f71860ada"
            ]
        ]
    },
    {
        "id": "193d5f1c5583b54e",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/automatischeMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "212bd733f6c53345",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/manueleMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 340,
        "y": 580,
        "wires": []
    },
    {
        "id": "abf99bdcbd49801b",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/slinks",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "3194472abd0f29e2",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/vooruit",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "75a03f4b7a93da33",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/srechts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec7190c59f73af59",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/links",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "af28b6e9f1433528",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/stop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "af2af7afa7a2bee0",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/rechts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "1fe9e6021dc88db0",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/slachteruit",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "9f7ea606d369893e",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/achteruit",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "6f32204b4e9cc294",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/srachteruit",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 880,
        "y": 700,
        "wires": []
    },
    {
        "id": "b5d0576f71860ada",
        "type": "mqtt out",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/textinput",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1320,
        "y": 460,
        "wires": []
    },
    {
        "id": "7a07a8d3ca229940",
        "type": "mqtt in",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "1108890275bd96b6"
            ]
        ]
    },
    {
        "id": "db1a37ecc7413ac3",
        "type": "mqtt in",
        "z": "41f3198c118fc2be",
        "name": "",
        "topic": "robotwagen/",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "6214a9d370f9d692"
            ]
        ]
    },
    {
        "id": "28e57d1691e8e2a0",
        "type": "ui_group",
        "name": "Robotwagen mode",
        "tab": "aa5eb993095aa094",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbeeb0609df7edcd",
        "type": "ui_group",
        "name": "Besturing",
        "tab": "aa5eb993095aa094",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8dd9a4854503a5ac",
        "type": "ui_group",
        "name": "Afstandssensoren",
        "tab": "aa5eb993095aa094",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a13bf275b8f6c5b1",
        "type": "ui_group",
        "name": "oled-scherm",
        "tab": "aa5eb993095aa094",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "aa5eb993095aa094",
        "type": "ui_tab",
        "name": "Robotwagen",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
